<configuration>													    <!-- <configuration> - это корневой элемент всех конфигурационных       -->
	<runtime> 														<!--                   файлов. Его и читает CLR                         -->
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">  <!-- __<runtime> - CLR использует содержимое этого для настройки        -->
                                                                    <!--               (конфигурирования) приложения в рунтайме (запуск     -->
                                                                    <!--               тоже часть runtime'а, кстати)                        -->
                    												<!-- ____<assemblyBinding> - хранит инфо о перенаправлении (смене)		-->
												                    <!--                         версии сборки и её местоположения. Может   -->
																	<!-- 						 иметь два атрибута:                        -->
                    												<!--                         > xmlns      - должен быть задан, задаёт   -->
                                                                    <!--                                        некое пространство имён     -->
																	<!--									    самого xml, требуемое для   -->
																	<!--										связывания сборки. На самом -->
																	<!--										деле всего должно быть одно -->
																	<!--									    и то же****что это?         -->
                                                                    <!--                         > appliesTo  - не обязателен, задаёт       -->
																	<!--										версию .NET, к которой      -->
																	<!--										должен применятся контент   -->
                                                                    <!--                                        <assemblyBinding>. Если		-->
																	<!--								        этот атрибут не задан,		-->
																	<!--								        содержимое будет применятся -->
                                                                    <!--                                        ко всем версиям .NET. Был	-->
																	<!--								        введёт в .NET 1.1           -->
                                                                    <!-- __<startup> - настройки в контенте этого элемента назначают версию -->
																	<!--			   CLR, что должна запускать приложение           		-->
                                                                    <!-- ____<supprotedRuntime> - собвстенно, его атрибуты и назначают      -->
																	<!--                          версию:                                   -->
                                                                    <!--                          > version  - не обязателен, задаёт версию -->
																	<!--								       CLR, для которой приложение  -->
																	<!--									   и строилось. До              -->
                                                                    <!--                                       .NET версии 4 атрибут        -->
																	<!--                                       требовал версию формата      -->
																	<!--                                       major.minor.build (например, -->
                                                                    <!--                                       v4.0.30319), но начиная с    -->
																	<!--                                       неё можно просто писать      -->
																	<!--                                       "v4.0"                       -->
                                                                    <!--                          > sku      - не обязателен, задаёт        -->
																	<!--                                       stock-keeping unit (это      -->
																	<!--                                       что-то вроде                 -->
                                                                    <!--                                       буквенно-циферного штрих     -->
																	<!--                                       кода), который, по факту,    -->
																	<!--                                       здесь тоже задаёт            -->
                                                                    <!--                                       поддерживаемую версию .NET.  -->
																	<!--                                       Начиная с .NET 4.0 это       -->
																	<!--                                       рекомендуется задавать       -->
                                                                    <!--                                       (например,                   -->
																	<!--                                       sku=".NETFramework,Version=  -->
																	<!--                                       v4.7")                       -->
			<probing privatePath="MyLibs"/>							<!-- <probing privatePath=".."/> - именно это служит для указания	    -->
		</assemblyBinding>											<!--   подкаталога зондирования (подкаталога папки приложения)          -->
	</runtime>                                                      <!-- privatePath - важно понимать, что этот атрибут не может            -->
</configuration>                                                    <!--   применятся для указания абсолютного пути. Только для             -->
                                                                    <!--   относительного (причём без префикса .\)					        -->
																	<!-- Если всё-таки нужно указать каталог, что не входит в    		    -->
																    <!--   клиентский, то используй другой XML-элемент <codeBase> (о нём    -->
																	<!--   подробнее чуть позже). Также стоит знать, что privatePath        -->
																	<!--   может принимать сразу список имён папок:                         -->
																	<!--       <probing privatePath="MyLibs;OtherStuff\Tests"/>             -->
																	<!--   Разделяются имена символом ;                                     -->
																	<!-- Если CLR найдёт элемент probing, то она не будет доверять          -->
																	<!--   ему полностью. От своих методов поиска он не откажется           -->