<?xml version="1.0" encoding="utf-8" ?>
<configuration>   <!-- Ветка элементов <startup> (была здесь по умолчанию) вырезана, т.к. неясно для чего она (и её не было у автора) -->
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>                                       <!-- <dependentAssembly> - элемент для упаковки инфо об одной      -->
                                                                      <!--   конкретной сборке                                           -->
                <assemblyIdentity name="14.4"
                                  publicKeyToken="c60d3B4598547336"
                                  culture="neutral"/>
                                                                      <!-- <assemblyIdentity> - этот элемент содержит пачку атрибутов,   -->
                                                                      <!--   по которой CLR поймёт, настройки какой сборки мы бы хотели  -->
                                                                      <!--   изменить                                                    -->
                                                                      <!-- name="14.4"... - допустим, хотим мы поменять версию           -->
                                                                      <!--   сборки 14.4.dll именно с таким хеш-кодом открытого          -->
                                                                      <!--   ключа и именно с такой культурой                            -->
                                                                      <!-- culture - необязатльный атрибут культуры. Его можно опустить, -->
                                                                      <!--   и будет использована стандартная культура машины            -->
                                                                      <!--   (автор говорит, что для этой же цели ему можно задать       -->
                                                                      <!--   пустую строку, но VS 2019 считает это за ошибку             -->
                                                                      <!-- "C60D.." - здесь подойдут как символы верхнего регистра, так  -->
                                                                      <!--    и нижниго (можно даже вперемешку)                          -->
                <bindingRedirect oldVersion="1.0.7569.36219"
                                 newVersion="2.0.0.0"/>               <!-- Здесь стоит пробел потому, что xml нe допускает вклинивание   -->
            </dependentAssembly>                                      <!--   чего-то неподходящего (т.е. комментарий) в тег              -->
                                                                      <!-- <bindingRedirect> - это, собственно, настройка,               -->
            <dependentAssembly>                                       <!--   перенаправляющая запрос                                     -->
                <assemblyIdentity name="MathLibrary"
                                  publicKeyToken="C60d3b4598547336"
                                  culture="no"/>                      <!-- "MathLibrary" - а это контент очередного элемента             -->
                                                                      <!--   <dependentAssembly>, и он содержит настройки для другой     -->
                                                                      <!--   подключаемой сборки (если бы она у нас была, настройки бы   -->
                                                                      <!--   тоже повлияли на CLR)                                       -->
                <bindingRedirect oldVersion="3.7.0.0-3.9.0.0"
                                 newVersion="4.0.0.0"/>               <!-- "3.7..-3.9.." - атрибуту oldVersion можно указывать целый     -->
            </dependentAssembly>                                      <!--   диапазон номеров старых версий                              -->
        </assemblyBinding>                                            <!-- Как ты понял, если что-то в конфигурационном файле будет      -->
    </runtime>                                                        <!--   лишним (например, версия 1.2.0.0 сборки 14.4.dll), то       -->
</configuration>                                                      <!--   эти настройки просто не будут задейстованы                  -->