@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
<!--<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>-->
                                                                    <!--
                                                                          <p>..</p> --- в этом теге содержится главный текст страницы
                                                                          <p>Learn about..</p> --- вот что здесь было по умолчанию (т.е. вот,
                                                                            что создаётся по шаблону webapp)
                                                                    -->
    <p>Hello World! The time on server is @System.DateTime.Now</p>  <!--
                                                                          <p>Hello World!<p> --- а это сделали мы. И оно работает!
                                                                    -->
</div>
